include ../text-field/text-field
include ../toggle-field/toggle-field

mixin form(data)
	+b('form').form&attributes(attributes)
		+e.fiedset--main-info(role='group')
			each item in data.mainInfo
				+text-field(item, 'text-field')

		+e.fiedset--additional-info(role='group')
			+e.legend
				| Выпускник <a href="https://htmlacademy.ru/">htmlacademy.ru</a>
			each item in data.additionalInfo
				+toggle-field(item, 'toggle-field--radio')
