// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-right $margin
	margin-left $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-right $padding
	padding-left $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set fixed ontainer
container()
	margin 0 auto
	padding-x $offset--mobile
	min-width $container--min
	max-width $container--max

	@media $tablet
		padding-x $offset--tablet

	@media $desktop
		padding-x $offset--desktop

// Set fluid container
container-fluid()
	margin 0 auto
	width 100%

// Clear default list styles
list-clear()
	margin 0
	padding 0
	list-style none

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}
