// Variables
// ==========================================================================

// == Colors
//

$color-primary ?=			#2f1b15
$color-secondary ?=			#014f98

$text-color ?= 				$color-primary

$bg-body ?=					#797979

$link-color ?=				$color-secondary
$link-color--hover ?=		darken($color-secondary, 15%)



// == Typography
//
$font-size ?=				2rem

$font-family--sans-serif ?=	'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-family--serif ?=		Georgia, 'Times New Roman', Times, serif
$font-family--monospace ?=	'Courier New', Menlo, Monaco, Consolas, 'Liberation Mono', monospace

$font-family ?=				$font-family--sans-serif



// == Grid
//
$grid-columns ?=			12
$gutter ?=					2rem



// == Lost
// https://github.com/peterramsing/lost
@lost flexbox				flex // @stylint ignore
@lost gutter				20px // @stylint ignore



// == Media queries breakpoints
//
$mobile ?=					'only screen and (max-width: 699px)'
$tablet ?=					'only screen and (min-width: 700px) and (max-width: 1019px)'
$desktop ?=					'only screen and (min-width: 1020px)'

$retina2x ?=				'(min-resolution: 1.5dppx)'

// mobile + tablet
$portable ?=				'only screen and (max-width: 1019px)'
// tablet + desktop = more than mobile
$tab-desk ?=				'only screen and (min-width: 700px)'

$desk-xl ?=					'(min-width: 1400px)'



// == Container sizes
//
$container--min ?=			32rem // 320px
$container--mid ?=			70rem // 700px
$container--max ?=			100rem // 1000px



// == Paddings and margins
//
$offset--mobile ?=			5.5rem
$offset--tablet ?=			11rem
$offset--desktop ?=			11rem
