include ../blocks/content/content
include ../blocks/form/form

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = "--index";

block head
	- var pageTitle = 'CSSSR blank';

block content
	+content()
		+form(getData('form'))
