mixin logo()
	+b.logo&attributes(attributes)
		+e.link--mod( href='index.html' )
			+e.image( src='assets/images/logo__header.png', width='154', height='52', alt='CSSSR' )
			+e.text Секретный архив учреждения

