.slider
	margin-bottom 8.5rem

	@media $tab-desk
		margin-bottom 10.5rem

	&__caption
		position relative
		padding-bottom 4rem
		font-weight 700
		line-height normal
		&::after
			position absolute
			left 20%
			bottom 5px
			display block
			content ''
			transform translateX(-50%)
			sprite($arrow__slider)

	&__slides
		position relative
		display flex
		justify-content space-between
		list-clear()

		&::before
		&::after
			position absolute
			display flex
			content ''

		&::before
			top 0
			left 0
			width 100%
			spriteHeight($line__text_field)
			spriteImage($line__text_field)
			spritePosition($line__text_field)

		&::after
			top 3px
			right 0
			width 3px
			height 25px
			background-color $color-primary
