mixin toggle-field(item, inputType)
	- var attributes = {'class': inputType};

	+b('label')&attributes(attributes)
		+e('input').input(type=item.inputType, name=item.name, checked=item.isChecked)&attributes(attributes)
		+e.caption !{item.label}
