.toggle-field
	&__input
		display none

	&--radio
		& ^[0]__caption // @stylint ignore
				position relative
				margin-right 1rem
				padding-left 3.5rem
				display inline
				font-weight 700

				@media $tab-desk
					margin-right 1.5rem
					display flex

				&::before
					position absolute
					top 50%
					left 0
					display block
					content ''
					transform translateY(-50%)
					sprite($outer_ellipse__radio)

		& ^[0]__input // @stylint ignore
				&:checked +
					& ^[0]__caption // .toggle-text__caption
						&::after
							position absolute // @stylint ignore
							top 50% // @stylint ignore
							left 0 // @stylint ignore
							display block // @stylint ignore
							width 14px // @stylint ignore
							height 14px // @stylint ignore
							content '' // @stylint ignore
							transform translateX(50%) translateY(-50%) // @stylint ignore
							sprite($inner_ellipse__radio) // @stylint ignore
	&--checkbox
		margin-bottom 1.1rem
		font-size $font-size * .925

		& ^[0]__caption // @stylint ignore
			position relative
			margin-right 1.5rem
			padding-left 3rem
			display flex
			font-weight 700
			&::before
				position absolute
				top 4px
				left 0
				display block
				content ''
				sprite($frame__checkbox)

		& ^[0]__input
			&:checked +
				& ^[0]__caption // .toggle-text__caption
					&::after
						position absolute // @stylint ignore
						top 30% // @stylint ignore
						left 2px // @stylint ignore
						display block // @stylint ignore
						content '' // @stylint ignore
						transform translateY(-50%) // @stylint ignore
						sprite($checkmark__checkbox) // @stylint ignore

		@media $tablet
			// https://github.com/peterramsing/lost
			lost-column 1/2 // @stylint ignore

		@media $desktop
			// https://github.com/peterramsing/lost
			lost-column 1/3 // @stylint ignore
